.projects{
  height: 1200px;
  width: 100%;
  padding: 60px;
  background: linear-gradient(-45deg , #571d22, #554b92, #84ABE9, #FFFFFF );
  animation: change 10s ease-in-out infinite;
  background-size: 400% 400%;
  h1{
    color: white;
    text-align: center;
  }
  a{
    color: white;
  }
  .project-cards{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 80%;
    .image{
      position:relative;
      width: 600px;
      height: 400px;
      margin: 40px;
      .image__img{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
      }
      .image__overlay{
        position:absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(49, 50, 56, 0.801);
        color: white;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
        .image__title{
          font-size: 2em;
          font-weight: bold;
          .image__description{
            font-size: 1.25em;
            margin-top: 0.25em;
          }
        }
      }
      .image__overlay--blur{
        backdrop-filter: blur(5px);
      }
      .image__overlay > *{
        transform: translateY(20px);
        transition: transform 0.25s;
      }
      .image__overlay:hover > *{
        transform: translateY(0);
      }
      .image__overlay:hover{
        opacity: 1;
      }
    }
  }
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}


@media screen and (max-width: 840px) {
  .projects{
    height: 720px;
    .project-cards{
      .image{
        width: 400px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .project-cards{
    .image{
      width: 400px;
      height: 200px;
    }
  }
}

@media screen and (max-width: 400px) {
  .projects{
    .project-cards{
      .image{
        width: 250px;
        height: 120px;
      }
    }
  }
}